<link rel="stylesheet" href="search.css">

<center>
    <form action="/allorders" method="GET">
        <h2>search orders using ID</h2>
        <input type="text" placeholder="give in order ID" name="ordersearch">
        <input type="submit">
    </form>
</center>

<center>
    <form action="/markets" method="GET">
        <h2>search markets using ID</h2>
        <input type="text" placeholder="give in markets ID" name="marketsearch">
        <input type="submit">
    </form>
</center>